@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }
}

.button-primary {
  @apply cursor-pointer rounded px-3 py-2 font-mono text-lg font-medium uppercase text-dark hover:text-primaryText;
}

.clip-container {
  background-image: linear-gradient(135deg, #3182ce, #468fd3);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.clip-mobile-container {
  background-image: linear-gradient(135deg, #3182ce, #468fd3);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
